:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease; /* Suaviza la transición */
}
main {
  min-height: 65dvh !important;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0; /* El elemento comienza o termina con opacidad cero */
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1; /* El elemento alcanza o inicia en opacidad completa */
}
img {
  content-visibility: auto;
}

.enlace_desactivado {
  opacity: 0.2;
  cursor: not-allowed;
}

select {
  background: none;
  border: none;
  border-bottom: 2px solid var(--color_fondo);
  cursor: pointer;
}
.filtros_busqueda {
  flex-wrap: wrap;
}
.filtros_busqueda button {
  background: var(--color_fondo);
  color: #fff;
  border: none;
  padding: 1%;
  border-radius: 10px;
}
button {
  cursor: pointer;
  background: var(--color_fondo);
  color: #fff;
}
a {
  background: var(--color_fondo);
  color: #fff;
  cursor: pointer;
}
main {
  min-height: 80dvh;
}
.content_info {
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.644);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2%;
  margin-bottom: 2%;
}
.content_info img {
  width: 100%;
  margin: 2%;
  border-radius: 10px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.text-gradient {
  display: flex;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  background: linear-gradient(
    to right,
    #ef5350,
    #c76888,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047
  );
  background-size: 200% 200%; /* Permite el movimiento del gradiente */
  background-clip: text;
  -webkit-background-clip: text; /* Recorta el fondo al texto */
  -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente */
  animation: gradient-animation 3s infinite; /* Aplica la animación */
}

a,
button {
  width: fit-content;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background: var(--color_fondo, #7e57c2);
  border: none;
}

.container_forms {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.container_forms form {
  position: absolute;
  width: 0;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-500px);
}

.container_forms form.active {
  position: relative;
  width: 80%;
  height: fit-content;
  min-height: 100%;
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  background: #ffffff63;
  backdrop-filter: blur(10px);
  padding: 2%;
  border-radius: 10px;
  transform: translateX(0px);
}

.container_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  transition: all 0.3s linear;
  border: 2px solid transparent;
}

.container_input label {
  width: fit-content;
  padding-inline: 1rem;
  border-radius: 5px;
  position: relative;
  z-index: 80;
  color: #fff;
  background: var(--color_fondo);
}
.container_input span {
  position: absolute !important;
  bottom: -1.5rem;
}
.container_input label:last-child span {
  color: rgb(250, 22, 22);
  font-size: 1.2rem;
  position: absolute !important;
}
.container_input input {
  border: solid 2px var(--color_fondo);
  padding: 2%;
  margin-top: -1rem;
  outline: none;
  border-radius: 5px;
  transition: border 0.3s linear;
}
.container_input input.error {
  border: solid 2px red;
}
.container_input select {
  padding: 1%;
}

.container_input img {
  position: absolute;
  width: 2rem;
  z-index: 80;
  right: 0.5rem;
  top: 35% !important;
  cursor: pointer;
}
.container_input.options {
  background: #ffffff70;
  border-radius: 10px;
  transition: all 0.3s linear;
  padding: 1rem;
  border: 2px solid var(--color_fondo);
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.estructura {
  padding-top: 60px;
}
@media screen and (max-width: 800px) {
  .content_info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
