:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease; /* Suaviza la transición */
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0; /* El elemento comienza o termina con opacidad cero */
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1; /* El elemento alcanza o inicia en opacidad completa */
}

.enlace_desactivado {
  opacity: 0.2;
  cursor: not-allowed;
}

select {
  background: none;
  border: none;
  border-bottom: 2px solid var(--color_fondo);
  cursor: pointer;
}
.filtros_busqueda {
  flex-wrap: wrap;
}
.filtros_busqueda button {
  background: var(--color_fondo);
  color: #fff;
  border: none;
  padding: 1%;
  border-radius: 10px;
}
button {
  cursor: pointer;
}
.content_info {
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.644);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2%;
  margin-bottom: 2%;
}
.content_info img {
  width: 100%;
  margin: 2%;
  border-radius: 10px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.text-gradient {
  display: flex;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  background: linear-gradient(
    to right,
    #ef5350,
    #c76888,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047
  );
  background-size: 200% 200%; /* Permite el movimiento del gradiente */
  -webkit-background-clip: text; /* Recorta el fondo al texto */
  -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente */
  animation: gradient-animation 3s infinite; /* Aplica la animación */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 600px) {
  .estructura {
    padding-top: 10dvh;
  }
}
